/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #4e4e4e;
}

.form-wrapper {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    width: 100%;
    max-width: 400px; /* Adjusted for login form */
    box-sizing: border-box;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-primary {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.text-center {
    text-align: center;
}

.text-muted {
    color: #6c757d;
    text-align: center;
}
